:root {
  --colors-primary-800: #00494b;
  --colors-primary-subtle-text: #00494b;
  --colors-primary:#00494b;
  --colors-primary-dark-100: #00494b;
  --colors-primary-500: #00494b;
    
  --colors-primary-action: #57b581;
  
  --colors-primary-300: #97ecb8;
  --colors-primary-dark-300: #97ecb8;
  --colors-primary-subtle: #97ecb8;
  --colors-primary-200: #97ecb8;

  --colors-primary-dark-50: #edff8c;
}

.Header-logo {
  content: url(https://raw.githubusercontent.com/thorbeorn/meet-css/main/LasuiteVerte_meet.png);
  width: 200px;
  height: 100px;
  max-height: 1000px;
  max-width: 1000px;
}
